extends layout

block content
  h1= title
  h5.text-left.text-black Create an account ...
  p #{title}
    // Registration Form
    form(method='POST' action='/register')
        .form-floating.m-2
            input#firstname.form-control(type='text' placeholder='First Name' name='firstname')
            label.form-label(for='firstname') First Name

        .form-floating.m-2
            input#laststname.form-control(type='text' placeholder='Last Name' name='laststname')
            label.form-label(for='laststname') Last Name

        .form-floating.m-2
            input#remail.form-control(type='text' placeholder='Email' name='remail')
            label.form-label(for='remail') Email

        .form-floating.m-2
            input#phone.form-control(type='text' placeholder='Telephone' name='phone')
            label.form-label(for='phone') Telephone

        .form-floating.m-2
            input#rpassword.form-control(type='password' placeholder='Password' name='rpassword')
            label.form-label(for='rpassword') Password 
 
        .col-12
        button.btn.btn-outline-primary(type='submit') Register
        // <button class="btn btn-outline-primary" type="submit">Register</button>
        button.btn.btn-outline-secondary(type='reset') Clear
        <a href="/" class="btn btn-outline-danger" role="button">Close</a>

    